<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Statistik</h3>
        </div>
        <div class="panel-body"> 
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Einträge nach Typ (Gesamt: <%= @mines_count.to_s %>)</div>
                        <div class="panel-body">
                            <%= pie_chart @sort_count %>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Einträge nach Zustand (Gesamt: <%= @mines_count.to_s %>)</div>
                        <div class="panel-body">
                            <%= pie_chart @state_count %>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Benutzer (Gesamt: <%= @users_count.to_s %>)</div>
                        <div class="panel-body">
                            <%= column_chart @user_count %>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Aktivität der letzten 14 Tage (Gesamt <%=@mines_count.to_s%> Einträge, <%= @photos_count.to_s %> Fotos)</div>
                        <div class="panel-body">
                            <%= area_chart [
                                {name: "Updates", data: @activity_count_update},
                                {name: "Neue Fotos", data: @photos_new_count},
                                {name: "Neue Einträge", data: @mines_new_count}
                            ]%>
                        </div>
                    </div>
                </div>
            </div>                   
        </div>
      </div>
    </div>
  </div>
</div>