<div class="modal fade" id="popup-mine-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b><%= mine.id.to_s + ": " + mine.name %></b></h4>
      </div>

      <div class="modal-body">
        <div>  <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#data" aria-controls="home" role="tab" data-toggle="tab">Daten</a></li>
            <li role="presentation"><a href="#image" aria-controls="profile" role="tab" data-toggle="tab">Bilder</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="data">
              <%= form_tag(url_for(controller: 'mines', action: :updateajax, id: mine.id, format: :js), method: :post, remote: true) do %>
                <div class="form-group">
                  <%= label_tag "Name", nil, :class => "control-label" %>
                  <div class="controls">
                      <%= text_field_tag :name, mine.name, {:class=>"input-small form-control"} %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag "Beschreibung", nil, :class => "control-label" %>
                  <div class="controls">
                      <%= text_area_tag :description, mine.description, {:class=>"input-small form-control"} %>
                  </div>
                </div>
          
                <% if current_user.admin? %>
                  <div class="row form-group">
                    <div class="col-xs-6">
                      <%= label_tag "Latitude", nil, :class => "control-label" %>
                      <div class="controls">
                        <%= text_field_tag :latitude, mine.latitude, {:class=>"input-small form-control"} %>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <%= label_tag "Longitude", nil, :class => "control-label" %>
                      <div class="controls">
                        <%= text_field_tag :longitude, mine.longitude, {:class=>"input-small form-control"} %>
                      </div>
                    </div>
                  </div>      

                  <div class="row form-group">
                    <div class="col-xs-4">
                      <%= label_tag "Typ", nil, :class => "control-label" %>
                      <div class="controls">
                        <%= select_tag :sort, options_for_select(MinesHelper::SORTS, mine.sort), :class=>"input-small form-control" %>
                      </div>                      
                    </div>

                    <div class="col-xs-4">
                      <%= label_tag "Zustand", nil, :class => "control-label" %>
                      <div class="controls">
                        <%= select_tag :state, options_for_select(MinesHelper::STATES, mine.state), :class=>"input-small form-control" %>                      
                      </div>
                    </div>

                    <div class="col-xs-4">
                      <%= label_tag "Besucht am", nil, :class => "control-label" %>
                      <div class="controls">
                        <%= text_field_tag :visited_at, mine.visited_at, {:class=>"input-small form-control"} %>
                      </div>
                    </div>
                  </div> 
                <% end %>

                <div class="form-group">
                  <div id ="map_small" style="width:566px; height: 250px;"></div>         
                </div>
                <% if current_user.admin? %>
                  <% if mine.locked_by.nil? or mine.locked_by == current_user.id %>            
                    <%= button_tag( :class => "btn btn-primary") do %>
                      <i class="glyphicon glyphicon-save"></i> Speichern
                    <% end %>
                  <% end %>
                  <% if mine.locked_by.nil? or mine.locked_by == current_user.id %>            
                    <%= link_to 'Löschen', mine, method: :delete, remote: true,data: { confirm: 'Bist du sicher?'}, class: "btn btn-danger" %>
                  <% end %>
                  <% if mine.locked_by == current_user.id %>
                    <%= link_to 'Unlock', lock_mine_path(mine), method: :post, remote: true, class: "btn btn-warning" %>            
                  <% end %>
                  <% if mine.locked_by.nil? %>
                    <%= link_to 'Lock', lock_mine_path(mine), method: :post, remote: true, class: "btn btn-warning" %>            
                  <% end %>
                  <%= label_tag "Arbeitsliste " %>
                  <%= check_box_tag "check-"+mine.id.to_s, 1, current_user.work_item?(mine.id),
                    data: {
                      remote: true,
                      url: url_for( action: :add_or_remove_list_item, id: mine.id)
                    }
                  %>                  
                <% end %>                
              <% end %>
            </div> <!-- end tab div data -->
            <div role="tabpanel" class="tab-pane" id="image">
              <%= render(:partial => 'photos', locals: {mine: mine, photo: photo}) %>
            </div> <!-- end tab div image -->
          </div> <!-- end tab content -->
        </div> <!-- end tab div -->
      </div>
      <div class="modal-footer">
      Angelegt am <%= mine.created_at.strftime("%d.%m.%Y %H:%M") %> <% if mine.created_by %><%= " von " + mine.created_by.email %><%end%>, Update am <%= mine.updated_at.strftime("%d.%m.%Y %H:%M") %><% if mine.updated_by %><%= " von " + mine.updated_by.email %><%end%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type='text/javascript'>   
    var markersObject = {};

    <% if Rails.env.production? %>
            L.Icon.Default.imagePath = '/';
    <% else %>
            L.Icon.Default.imagePath = '<%= asset_path "" %>';
    <% end %>
    var redMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'red',
              prefix: 'fa'
    })

    map_small = new L.Map('map_small');
    map_small.setView(new L.LatLng(<%=mine.latitude%>,<%=mine.longitude%>),14);

    var osmde = L.tileLayer.provider('OpenStreetMap.DE');
    //var ggl = new L.Google();
    var bing = new L.BingLayer("ApiJPrwDWWqUlXoy7gg460DQBa55V-i1XqWWQfnf1sz5HW4CfxUkBZ7afjaMtQ5W");
    
    var baseMaps = {
            //"Google": ggl,
            "Bing": bing,
            "OSM DE": osmde,
    };
    var markers_main = new L.LayerGroup();
    var overlayMaps = {
        "Gruben": markers_main,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map_small);
    //map.addLayer(bing);
    map_small.addLayer(osmde);
    map_small.addLayer(markers_main);
    //map.addLayer(baseMaps);
    
    
    marker = L.marker([<%= mine.latitude %>, <%= mine.longitude %>], {icon: redMarker, title: '<%=mine.name %>'}).addTo(map_small);
    $('#popup-mine-edit').on('shown.bs.modal', function(){
      setTimeout(function() {
      map_small.invalidateSize();
      }, 10);
    });
  
  map_small.invalidateSize();

  $("a[rel=popover]").popover({live: true });
  $("a[rel=popover]").fancybox({
    parent: "body",
    openEffect  : 'elastic'
  });
</script>