<%= form_for(@mine) do |f| %>
  <% if @mine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mine.errors.count, "error") %> prohibited this mine from being saved:</h2>

      <ul>
      <% @mine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Name", nil, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :name, {:class=>"input-small form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Beschreibung", nil, :class => "control-label" %>
    <div class="controls">
        <%= f.text_area :description, {:class=>"input-small form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Latitude", nil, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :latitude, {:class=>"input-small form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Longitude", nil, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :longitude, {:class=>"input-small form-control"} %>
    </div>
  </div>    

  <div class="form-group">
    <%= f.label "Typ", nil, :class => "control-label" %>
    <div class="controls">
      <%= f.select :sort, options_for_select(MineHelper::SORTS, mine.sort), :class=>"input-small form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <%= f.label "Zustand", nil, :class => "control-label" %>
    <div class="controls">
      <%= f.select :state, options_for_select(MineHelper::STATES, mine.state), :class=>"input-small form-control" %>
    </div>
  </div>      
  <div class="form-group">
    <%= f.label "Besucht am", nil, :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :visited_at, {:class=>"input-small form-control"} %>
    </div>
  </div>  
  <%= button_tag( :class => "btn btn-primary btn-sm") do %>
    <i class="glyphicon glyphicon-save"></i> Speichern
  <% end %>
<% end %>

