<tr id="mine-row-<%=mine.id.to_s%>" <%= 'class=warning' if !mine.locked_by.nil? %> >
  <td><%= check_box_tag "check-"+mine.id.to_s, 1, current_user.work_item?(mine.id),
        data: {
          remote: true,
          url: url_for( action: :add_or_remove_list_item, id: mine.id)
        }
      %>
  <td><%= mine.id.to_s %></td>
  <td><%= mine.name.first(30) %></td>
  <td><%= sort_of_text(mine.sort) %></td>
  <td><%= mine.description.first(25) if mine.description %></td>
  
  <td>
    <button type="button" class="btn btn-default btn-xs" data-trigger="focus" data-placement="right" data-html="true" data-toggle="popover" title="Fotos" data-content='<%=render(partial: "mini_photo_list", locals: {mine: mine}).html_safe%>'>
      <%= mine.photos.count.to_s %>       
    </button>
  </td>

  <td><% if !mine.locked_by.nil? %><%= mine.locked_by.email %><%end%></td>
  <td><%= state_to_desc(mine.state) %></td>
  <td><%= mine.visited_at.strftime("%d.%m.%Y") if mine.visited_at %></td>
  <td>
  <% if current_user.admin? %>  
    <% if mine.locked_by.nil? or mine.locked_by == current_user %>            
      <%= link_to 'Edit', edit_mine_path(mine), class: "btn btn-primary btn-xs", remote: true %>
    <% end %>
      <%= link_to 'Show', mine_path(mine), class: "btn btn-success btn-xs" %>
    <% if mine.locked_by.nil? or mine.locked_by == current_user %>            
      <%= link_to 'Delete', mine, method: :delete, remote: true,data: { confirm: 'Bist du sicher?'},class: "btn btn-danger btn-xs" %>
    <% end %>
    <% if mine.locked_by == current_user %>
      <%= link_to 'Unlock', lock_mine_path(mine), method: :post, remote: true, class: "btn btn-warning btn-xs" %>            
    <% end %>
    <% if mine.locked_by.nil? %>
      <%= link_to 'Lock', lock_mine_path(mine), method: :post, remote: true, class: "btn btn-warning btn-xs" %>            
    <% end %>
  <% end %>
  </td>  
</tr>

<script>
  $('[data-toggle="popover"]').popover({html: true});
</script>