<div class="modal fade" id="popup-mine-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Neuer Eintrag</h4>
      </div>

      <div class="modal-body">        
        <%= form_tag(url_for(controller: 'mines', action: :create, format: :js), remote: true) do %>
          <div class="form-group">
            <%= label_tag "Name", nil, :class => "control-label" %>
            <div class="controls">
                <%= text_field_tag :name, mine.name, {:class=>"input-small form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag "Beschreibung", nil, :class => "control-label" %>
            <div class="controls">
                <%= text_area_tag :description, mine.description, {:class=>"input-small form-control"} %>
            </div>
          </div>
          
          <% if current_user.admin? %>
            <div class="form-group">
              <%= label_tag "Latitude", nil, :class => "control-label" %>
              <div class="controls">
                  <%= text_field_tag :latitude, mine.latitude, {:class=>"input-small form-control"} %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "Longitude", nil, :class => "control-label" %>
              <div class="controls">
                  <%= text_field_tag :longitude, mine.longitude, {:class=>"input-small form-control"} %>
              </div>
            </div>      

            <div class="form-group">
              <%= label_tag "Typ", nil, :class => "control-label" %>
              <div class="controls">
                <%= select_tag :sort, options_for_select({"N/A" =>0, "Stollen" => 1, "Stollenmund" => 2, "Tagebau" => 3, "Halde" =>4, "Bunker" =>5,"Luftschutzstollen" =>6,"Lost place" =>7,"Bergwerk" => 8, "Höhle" => 9, "Tunnel" => 10, "U-Verlagerung" => 11}, mine.sort), :class=>"input-small form-control" %>
              </div>
            </div> 

            <div class="form-group">
              <%= label_tag "Zustand", nil, :class => "control-label" %>
              <div class="controls">
                <%= select_tag :state, options_for_select({"unbekannt" =>0, "offen" => 1, "zugefallen" => 2, "verschlossen" => 3, "abgerissen" => 4 }, mine.state), :class=>"input-small form-control" %>
                <!--<%= text_field :state, mine.state, {:class=>"input-small form-control"} %>-->
              </div>
            </div>      
            <div class="form-group">
              <%= label_tag "Besucht am", nil, :class => "control-label" %>
              <div class="controls">
                  <%= text_field_tag :visited_at, mine.visited_at, {:class=>"input-small form-control"} %>
              </div>
            </div>      
          <% end %>

          <%= button_tag( :class => "btn btn-primary btn-sm") do %>
            <i class="glyphicon glyphicon-save"></i> Speichern
          <% end %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->