<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">

          <p id="notice"><%= notice %></p>

          <h1>Listing Mines</h1>
          <%= link_to 'Neuer Eintrag', new_mine_path,class: "btn btn-primary"    %>
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2"></th> 
              </tr>
            </thead>

            <tbody>
              <% @mines.each do |mine| %>
                <tr>
                  <td><%= mine.name %></td>
                  <td><%= mine.description %></td>
                  <!--td><%= link_to 'Show', mine, class: "btn btn-success btn-xs" %></td-->
                  <td><%= link_to 'Edit', edit_mine_path(mine), class: "btn btn-primary btn-xs", remote: true %></td>
                  <td><%= link_to 'Delete', mine, method: :delete, data: { confirm: 'Bist du sicher?'},class: "btn btn-danger btn-xs"  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>
<div id='popup'>
</div>

<script>
  enable_top_menu("liste");
</script> 
