<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        
        <div class="panel-heading">
          <h3>Liste</h3>
        </div>

        <div class="panel-body">
          <div class="form-group form-inline">
            <%= form_tag(url_for(action: :search), method: :get,  class: "form-inline") do %>
              <%= text_field_tag :search, nil, {:class=>"input-small form-control"}, data: {toggle: "tooltip"}, title: "Parameter für Wildcard-Suche" %>
              <%= select_tag :sort, options_for_select(MinesHelper::SORTS_ALL), :class=>"input-small form-control", data: {toggle: "tooltip"}, title: "Suche auf diesen Type beschränken" %>
              <%= select_tag :state, options_for_select(MinesHelper::STATES_ALL), :class=>"input-small form-control", data: {toggle: "tooltip"}, title: "Suche auf diesen Zustand beschränken"  %>

              <div class="btn-group" role="group">
                <%= button_tag( :class => "btn btn-success", data: {toggle: "tooltip"}, title: "Wildcard-Suche starten" ) do %>
                  Suche
                <% end %>
                <%= link_to "Alle", mines_path, :class => "btn btn-success", data: {toggle: "tooltip"}, title: "Entfernt die Suchkriterien und zeigt wieder alle Einträge an" %>
              </div>

              <div class="btn-group" role="group">                
                <%= link_to 'Alle auf AL',  add_current_list_items_mines_path, id: "btn-all-to-worklist", remote: true, class: "btn btn-warning", data: {toggle: "tooltip"}, title: "Fügt die komplette Liste der Arbeitsliste hinzu" %>
                <%= link_to 'Seite auf AL', add_page_list_items_mines_path, id: "btn-page-to-worklist", remote: true, class: "btn btn-warning", data: {toggle: "tooltip"}, title: "Fügt die aktuell angezeigte Seite der Arbeitsliste hinzu" %>               
              </div>

              <%= link_to 'Neuer Eintrag', '#', onclick: "showNew()", data: {no_turbolink: true}, class: "btn btn-primary", data: {toggle: "tooltip"}, title: "Neuen Eintrag in die Liste einfügen" %>
              <% if current_user.superadmin? %>
                <%= link_to 'Export', export_all_mines_path, data: {no_turbolink: true}, class: "btn btn-primary", data: {toggle: "tooltip"}, title: "Exportiert ALLE Einträge in eine KML-Datei" %>
              <% end %>
            <% end %>            
          </div>
          <div id="table">
            <%= render partial: "mine_table", locals: {mines: @mines, mode: "normal"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='popup'>
</div>
<%=render(:partial => 'new', locals: {mine: @new_mine, photo: @new_photo}) %>

<script>
  enable_top_menu("liste");
</script> 

