<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        
        <div class="panel-heading">
            <h3>Liste</h3>
            <%= form_tag(url_for(action: :search), method: :post, remote: true, class: "form-inline") do %>
            <div class="form-group">
              <%= text_field_tag :search, nil, {:class=>"input-small form-control"} %>
              <%= button_tag( :class => "btn btn-success") do %>
                <i class="glyphicon glyphicon-search"></i> Filtern
              <% end %>
            <% end %>
            <%= link_to "Alle", mines_path, :class => "btn btn-success" %>
            </div>
        </div>

        <div class="panel-body">
          <%if flash.now[:notice] %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <%= flash.now[:notice] %>
                </div>
            <% end -%>

          <%if flash.now[:error] %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <%= flash.now[:error] %>
                </div>
            <% end -%>

          <%= link_to 'Neuer Eintrag', '', onclick: "showNew()", class: "btn btn-primary" %>

          <div id="table">
            <%= render partial: "mine_table", locals: {mines: @mines, search: false} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='popup'>
</div>
<%=render(:partial => 'new', locals: {mine: @new_mine, photo: @new_photo}) %>

<script>
  $(document).ready(function () {
      $(function () {
        $("a[rel=popover]").popover({live: true });
        $("a[rel=popover]").fancybox();
      });
  });

  enable_top_menu("liste");
</script> 
<script>
  function showNew(e) {
    $('#popup-mine-new').modal('show');
  }
</script>
