<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Karte</b></h3>
                </div>
                <div class="panel-body">
                    <div id ="map" style="width:auto; height: 700px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%=render(:partial => 'new', locals: {mine: @new_mine, photo: @new_photo}) %>

<div id='popup'>
</div>

<script type='text/javascript'>   
    <% if Rails.env.production? %>
            L.Icon.Default.imagePath = '/';
    <% else %>
            L.Icon.Default.imagePath = 'assets';
    <% end %>
    
    
    var ma = {};
    var redMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'red',
              prefix: 'fa'
    })
    var darkredMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkred',
              prefix: 'fa'
    })
    var orangeMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'orange',
              prefix: 'fa'
    })
    var greenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'green',
              prefix: 'fa'
    })
    var darkgreenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkgreen',
              prefix: 'fa'
    })
    var blueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'blue',
              prefix: 'fa'
    })
    var purpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'purple',
              prefix: 'fa'
    })
    var cadetblueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'cadetblue',
              prefix: 'fa'
    })
    var darkpurpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkpurple',
              prefix: 'fa'
    })    
    ma[0] = redMarker;
    ma[1] = darkredMarker;
    ma[2] = darkpurpleMarker;
    ma[3] = greenMarker;
    ma[4] = darkgreenMarker;
    ma[5] = blueMarker;
    ma[6] = purpleMarker;
    ma[7] = cadetblueMarker;
    ma[8] = orangeMarker;

    map = new L.Map('map', {worldCopyJump: true});
    function onClick(e) {
        $('#popup-mine-edit').remove();
        $.ajax({
            url:  'mines/' + this._popup_id+"/edit",
            type: "GET",
        });
        $('#popup-mine-edit').modal('show');
    }
    
    function addMarker(e){
      //var newMarker = new L.marker(e.latlng).addTo(map);
      $('#latitude').val(e.latlng.lat);
      $('#longitude').val(e.latlng.lng);
      $('#popup-mine-new').modal('show')
    }

    map.on('click', addMarker);

    <% if @mine.nil? %>
      map.setView(new L.LatLng(49.77477900007886,6.80334), 12);
    <% else %>
      map.setView(new L.LatLng(<%= @mine.latitude.to_s %>,<%= @mine.longitude.to_s %>), 15);
    <% end %>
    var osmGeocoder = new L.Control.OSMGeocoder();

    map.addControl(osmGeocoder);
    var osmde = L.tileLayer.provider('OpenStreetMap.DE');
    //var ggl = new L.Google();
    var bing = new L.BingLayer("ApiJPrwDWWqUlXoy7gg460DQBa55V-i1XqWWQfnf1sz5HW4CfxUkBZ7afjaMtQ5W");
    var wanderkarte = new L.tileLayer('http://topo5.wanderreitkarte.de/topo/{z}/{x}/{y}.png');

    var baseMaps = {
            //"Google": ggl,
            "Bing": bing,
            "OSM DE": osmde,
            //"Wanderreitkarte": wanderkarte
    };
    var mm = new L.MarkerClusterGroup({ chunkedLoading: true });
    var overlayMaps = {
        "Gruben": mm,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map);
    //map.addLayer(bing);
    map.addLayer(osmde);
    map.addLayer(mm);
    //map.addLayer(baseMaps);
    
    var addressPoints = [
      <%@mines.each do |mine| %>
        [<%=mine.latitude.to_s%>,<%=mine.longitude.to_s%>,"<%=mine.id.to_s + " - " + mine.name + " ("+sort_of_text(mine.sort)+")" %>", <%=mine.id.to_s%>],
      <% end %>
    ]

    var markers = L.markerClusterGroup({ chunkedLoading: true });
    
     for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        var m = L.marker(L.latLng(a[0], a[1]), { title: a[2], icon: redMarker });
        //marker.bindPopup(title);
        m._popup_id = a[3];
        m.on('click', onClick);
        markers.addLayer(m);
      }
    map.addLayer(markers);
    map.invalidateSize();
    enable_top_menu("karte");
</script> 

