<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Karte</b></h3>
                </div>
                <div class="panel-body">
                    <div id ="map" style="width:auto; height: 700px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='popup'>
</div>

<script type='text/javascript'>   
    var markersObject = {};

    function onClick(e) {
        //$('#popup-mine-'+this._popup_id).modal('show');
        $('#popup-mine-edit').remove();
        $.ajax({
            url:   this._popup_id+"/edit",
            type: "GET",
            
            //success: 
        });
        $('#popup-mine-edit').modal('show');
    }

    <% if Rails.env.production? %>
            L.Icon.Default.imagePath = '/';
    <% else %>
            L.Icon.Default.imagePath = '<%= asset_path "" %>';
    <% end %>
    var markers = {};
    var redMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'red',
              prefix: 'fa'
    })
    var darkredMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkred',
              prefix: 'fa'
    })
    var orangeMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'orange',
              prefix: 'fa'
    })
    var greenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'green',
              prefix: 'fa'
    })
    var darkgreenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkgreen',
              prefix: 'fa'
    })
    var blueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'blue',
              prefix: 'fa'
    })
    var purpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'purple',
              prefix: 'fa'
    })
    var cadetblueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'cadetblue',
              prefix: 'fa'
    })
    var darkpurpleMarker = L.AwesomeMarkers.icon({
      icon: 'search', 
      markerColor: 'darkpurple',
      prefix: 'fa'
    })    
    markers[0] = redMarker;
    markers[1] = darkredMarker;
    markers[2] = darkpurpleMarker;
    markers[3] = greenMarker;
    markers[4] = darkgreenMarker;
    markers[5] = blueMarker;
    markers[6] = purpleMarker;
    markers[7] = cadetblueMarker;
    markers[8] = orangeMarker;

    map = new L.Map('map');
    map.setView(new L.LatLng(49.77477900007886,6.80334), 12);

    var osmde = L.tileLayer.provider('OpenStreetMap.DE');
    //var ggl = new L.Google();
    var bing = new L.BingLayer("ApiJPrwDWWqUlXoy7gg460DQBa55V-i1XqWWQfnf1sz5HW4CfxUkBZ7afjaMtQ5W");
    
    var baseMaps = {
            //"Google": ggl,
            "Bing": bing,
            "OSM DE": osmde,
    };
    var markers_main = new L.MarkerClusterGroup();
    var overlayMaps = {
        "Gruben": markers_main,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map);
    //map.addLayer(bing);
    map.addLayer(osmde);
    map.addLayer(markers_main);
    //map.addLayer(baseMaps);
    
    
    <% @mines.each do |mine| %>
      marker = L.marker([<%= mine.latitude %>, <%= mine.longitude %>], {icon: markers[<%=mine.sort || 0 %>], title: '<%=mine.name + " ("+sort_of_text(mine.sort)+")" %>'});//.addTo(map);
      markers_main.addLayer(marker); 
      marker.on('click', onClick);
      marker._popup_id = <%=mine.id.to_s%>;
    <% end %>
    
    enable_top_menu("karte");
</script> 

