<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Karte</b></h3>
                </div>
                <div class="panel-body">
                    <div id ="map" style="width:auto; height: 700px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='popup'>
</div>

<script type='text/javascript'>   

    function onClick(e) {
        //$('#popup-mine-'+this._popup_id).modal('show');
        $('#popup-mine-edit').remove();
        $.ajax({
            url:  'mines/' + this._popup_id+"/edit",
            type: "GET",
            
            //success: 
        });
        $('#popup-mine-edit').modal('show');
    }

    <% if Rails.env.production? %>
            L.Icon.Default.imagePath = '/';
    <% else %>
            L.Icon.Default.imagePath = '<%= asset_path "" %>';
    <% end %>
    var ma = {};
    var redMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'red',
              prefix: 'fa'
    })
    var darkredMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkred',
              prefix: 'fa'
    })
    var orangeMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'orange',
              prefix: 'fa'
    })
    var greenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'green',
              prefix: 'fa'
    })
    var darkgreenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkgreen',
              prefix: 'fa'
    })
    var blueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'blue',
              prefix: 'fa'
    })
    var purpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'purple',
              prefix: 'fa'
    })
    var cadetblueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'cadetblue',
              prefix: 'fa'
    })
    var darkpurpleMarker = L.AwesomeMarkers.icon({
      icon: 'search', 
      markerColor: 'darkpurple',
      prefix: 'fa'
    })    
    ma[0] = redMarker;
    ma[1] = darkredMarker;
    ma[2] = darkpurpleMarker;
    ma[3] = greenMarker;
    ma[4] = darkgreenMarker;
    ma[5] = blueMarker;
    ma[6] = purpleMarker;
    ma[7] = cadetblueMarker;
    ma[8] = orangeMarker;

    map = new L.Map('map', {worldCopyJump: true});
    map.setView(new L.LatLng(49.77477900007886,6.80334), 12);
    var osmGeocoder = new L.Control.OSMGeocoder();

    map.addControl(osmGeocoder);
    var osmde = L.tileLayer.provider('OpenStreetMap.DE');
    //var ggl = new L.Google();
    var bing = new L.BingLayer("ApiJPrwDWWqUlXoy7gg460DQBa55V-i1XqWWQfnf1sz5HW4CfxUkBZ7afjaMtQ5W");
    
    var baseMaps = {
            //"Google": ggl,
            "Bing": bing,
            "OSM DE": osmde,
    };
    var mm = new L.MarkerClusterGroup({ chunkedLoading: true });
    var overlayMaps = {
        "Gruben": mm,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map);
    //map.addLayer(bing);
    map.addLayer(osmde);
    map.addLayer(mm);
    //map.addLayer(baseMaps);
    
    
    <% @mines.each do |mine| %>
      var m = L.marker([<%= mine.latitude %>, <%= mine.longitude %>], {icon: ma[<%=mine.sort || 0 %>], title: '<%=mine.name + " ("+sort_of_text(mine.sort)+")" %>'});
      mm.addLayer(m); 
      m.on('click', onClick);
      m._popup_id = <%=mine.id.to_s%>;
    <% end %>

/*
    var tiles = L.tileLayer.provider('OpenStreetMap.DE');
     
//An extract of address points from the LINZ bulk extract: http://www.linz.govt.nz/survey-titles/landonline-data/landonline-bde
//Should be this data set: http://data.linz.govt.nz/#/layer/779-nz-street-address-electoral/
var addressPoints = [
  <%@mines.each do |mine| %>
    [<%=mine.latitude.to_s%>,<%=mine.longitude.to_s%>,"<%=mine.name + " ("+sort_of_text(mine.sort)+")" %>"],
  <% end %>
]

var addressPoints = [
[-37.8839, 175.3745188667, "571"],
[-37.8869090667, 175.3657417333, "486"],
[-37.8894207167, 175.4015351167, "807"],
[-37.8927369333, 175.4087452333, "899"],
[-37.90585105, 175.4453463833, "1273"],
[-37.9064188833, 175.4441556833, "1258"],
[-37.90584715, 175.4463564333, "1279"],
[-37.9033391333, 175.4244005667, "1078"],
[-37.9061991333, 175.4492620333, "1309"],
[-37.9058955167, 175.4445613167, "1261"]
];
    var map = L.map('map', {center: new L.LatLng(49.77477900007886,6.80334), zoom: 13, layers: [tiles]});
    var markers = L.markerClusterGroup({ chunkedLoading: true });
    
   for (var i = 0; i < addressPoints.length; i++) {
      var a = addressPoints[i];
      var title = a[2];
      var marker = L.marker(L.latLng(a[0], a[1]), { title: title });
      marker.bindPopup(title);
      markers.addLayer(marker);
    }

    map.addLayer(markers);*/
    enable_top_menu("karte");
</script> 

