<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Karte</b></h3>
                </div>
                <div class="panel-body">
                  <div class="form-inline form-group">
                    <%= label_tag "Typ: "%> 
                    <%= select_tag :sort, options_for_select({"Alle" => 99, "Bergwerk" => 8, "Stollen" => 1, "Stollenmund" => 2, "Tagebau" => 3, "Halde" =>4, "Bunker" =>5,"Luftschutzstollen" =>6,"Lost place" =>7,"N/A" =>0, "Höhle" => 9, "Tunnel" => 10, "U-Verlagerung" => 11}), :class=>"input-small form-control", :onchange => 'select_typ(this.value)' %>
                    <!--%= link_to "Clear", "", class: "btn btn-primary" %-->
                    <%= label_tag "Zustand: "%> 
                    <%= select_tag :state, options_for_select({"Alle" => 99, "unbekannt" =>0, "offen" => 1, "zugefallen" => 2, "verschlossen" => 3, "abgerissen" => 4 }), :class=>"input-small form-control", :onchange => 'select_zustand(this.value)' %>
                    <!--%= link_to "Clear", "", class: "btn btn-primary" %-->
                  </div>
                  <div id ="map" style="width:auto; height: 700px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%=render(:partial => 'new', locals: {mine: @new_mine, photo: @new_photo}) %>

<div id='popup'>
</div>

<script type='text/javascript'>   
    <% if Rails.env.production? %>
            L.Icon.Default.imagePath = '/';
    <% else %>
            L.Icon.Default.imagePath = 'assets';
    <% end %>
    
    var redMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'red',
              prefix: 'fa'
    })
    var darkredMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkred',
              prefix: 'fa'
    })
    var orangeMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'orange',
              prefix: 'fa'
    })
    var greenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'green',
              prefix: 'fa'
    })
    var darkgreenMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkgreen',
              prefix: 'fa'
    })
    var blueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'blue',
              prefix: 'fa'
    })
    var purpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'purple',
              prefix: 'fa'
    })
    var cadetblueMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'cadetblue',
              prefix: 'fa'
    })
    var darkpurpleMarker = L.AwesomeMarkers.icon({
              icon: 'search', 
              markerColor: 'darkpurple',
              prefix: 'fa'
    })    
    var ma = {};
    ma[0] = redMarker;
    ma[1] = darkredMarker;
    ma[2] = darkpurpleMarker;
    ma[3] = greenMarker;
    ma[4] = darkgreenMarker;
    ma[5] = blueMarker;
    ma[6] = purpleMarker;
    ma[7] = cadetblueMarker;
    ma[8] = orangeMarker;

    map = new L.Map('map', {
      worldCopyJump: true,
      fullscreenControl: true
    });
    function onClick(e) {
        $('#popup-mine-edit').remove();
        $.ajax({
            url:  '/mines/' + this._popup_id+"/edit",
            type: "GET",
        });
        $('#popup-mine-edit').modal('show');
    }
    
    function addMarker(e){
      $('#latitude').val(e.latlng.lat);
      $('#longitude').val(e.latlng.lng);
      $('#popup-mine-new').modal('show');
    }
    function select_typ(index) {
      markers.clearLayers();
      if (index == 99) {
        for (var i = 0; i < addressPoints.length; i++) {
          var a = addressPoints[i];
          markers.addLayer(markersId[a[3]]);
        }
        return;
      }
      for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        if (a[5] == index) {
          markers.addLayer(markersId[a[3]]);
        }
      }
    }
    function select_zustand(index) {
      markers.clearLayers();
      if (index == 99) {
        for (var i = 0; i < addressPoints.length; i++) {
          var a = addressPoints[i];
          markers.addLayer(markersId[a[3]]);
        }
        return;
      }
      for (var i = 0; i < addressPoints.length; i++) {
        var a = addressPoints[i];
        if (a[4] == index) {
          markers.addLayer(markersId[a[3]]);
        }
      }
    }

    map.on('click', addMarker);

    <% if @mine.nil? %>
      map.setView(new L.LatLng(49.77477900007886,6.80334), 12);
    <% else %>
      map.setView(new L.LatLng(<%= @mine.latitude.to_s %>,<%= @mine.longitude.to_s %>), 15);
    <% end %>
    var osmGeocoder = new L.Control.OSMGeocoder();

    map.addControl(osmGeocoder);
    var osmde = L.tileLayer.provider('OpenStreetMap.DE');
    var opentopo = L.tileLayer.provider('OpenTopoMap');
    var bing = new L.BingLayer("ApiJPrwDWWqUlXoy7gg460DQBa55V-i1XqWWQfnf1sz5HW4CfxUkBZ7afjaMtQ5W");
    
    var baseMaps = {
            "Bing": bing,
            "OSM DE": osmde,
            "OpenTopo": opentopo
    };
    var markers = L.markerClusterGroup({ chunkedLoading: true });
    var overlayMaps = {
        "Gruben": markers,
    };
    L.control.layers(baseMaps, overlayMaps).addTo(map);
    map.addLayer(osmde);
    
    //Array über alle Punkte:
    // <lat,long,Label,id,status,typ
    var addressPoints = [
      <%@mines.each do |mine| %>
          [<%=mine.latitude.to_s%>,<%=mine.longitude.to_s%>,"<%=mine.id.to_s + " - " + mine.name + " ("+sort_of_text(mine.sort)+")" %>", <%=mine.id.to_s%>, <%= state(mine) %>, <%=sort(mine)%>],
      <% end %>
    ]
   
    var markersId = {};

   for (var i = 0; i < addressPoints.length; i++) {
      var a = addressPoints[i];
      var m = L.marker(L.latLng(a[0], a[1]), { title: a[2], icon: ma[a[5]] });
      m._popup_id = a[3];
      m.on('click', onClick);
      markers.addLayer(m);
      markersId[a[3]] = m;
    }
    map.addLayer(markers);
    map.invalidateSize();
    enable_top_menu("karte");
</script> 

