<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        
        <div class="panel-heading">
            <h3>Arbeitsliste</h3>
        </div>

        <div class="panel-body">
          <div class="form-inline form-group">
            <% if current_user.superadmin? %>
              <%= link_to 'Export', export_work_list_mines_path, data: {no_turbolink: true}, class: "btn btn-primary" %>
              <%= link_to 'Delete', delete_work_list_mines_path, remote: true, data: {confirm: 'Bist du sicher, das die Einträge gelöscht werden sollen?'},class: "btn btn-danger" %>
            <% end %>

            <%= select_tag :sort, 
              options_for_select(MinesHelper::SORTS), :class=>"input-small form-control",
               data: {
                  remote: true,
                  url: url_for( action: :sort_work_list)
                }
            %>
            <%= select_tag :state, 
              options_for_select(MinesHelper::STATES), :class=>"input-small form-control",
              data: {
                  remote: true,
                  url: url_for( action: :state_work_list)
                }
            %>
            <%= link_to 'Clear', clear_work_list_mines_path, remote: true,data: { confirm: 'Bist du sicher?'},class: "btn btn-success" %>
          </div>

          <div id="work-list-table">
            <%= render partial: "mine_table", locals: {mines: @mines, search: true} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='popup'>
</div>
<script>
  enable_top_menu("arbeitsliste");
</script> 