<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Events</h3>
        </div>
        <div class="panel-body">   
          <%= link_to 'Clear log', clear_events_path, data: {confirm: "Soll das Log wirklich gelöscht werden?"}, class: "btn btn-danger" %>       
          <table id="table-events" class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>User</th>
                <th>Kategorie</th>
                <th>Eintrag</th>
                <th>Level</th> 
                <th>Beschreibung</th>
                <th>Datum/Uhrzeit</th>
              </tr>
            </thead>

            <tbody>
              <% @events.each do |event| %>
                <tr>
                  <td><%= event.user_email %></td>
                  <td><%= event.category %></td>
                  <td><% if !event.mine.nil? %> 
                    <%= link_to event.mine.name, mine_path(event.mine) %> 
                    <%end%>
                  </td>

                  <td><%= event.level %></td>
                  <td><%= event.description %></td>
                  <td><%= event.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  enable_top_menu("events");
</script> 
