<div class="col-xs-6 col-md-3" <%= 'style="display: none;"' if !visible %> id="photo-<%= photo.id.to_s%>">
	<a id="a-photo-<%=photo.id.to_s%>" href="<%= photo.file.url %>" class="thumbnail fancybox" rel="popover" data-placement="bottom" data-trigger="hover">
	  <%= image_tag(photo.file.url, data: {:src => photo.file.url}) %>
	</a>
	<% if current_user.is_admin? %>
		<%= link_to 'Delete', photo, method: :delete, remote: true,data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger btn-xs"  %>
	<% end %>
</div>

<script>
    $("a[rel=popover]").popover({live: true });
    $("a[rel=popover]").fancybox();
</script>