<!DOCTYPE html>
<html>
<head>
  <title>WorldOfMines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="navbar navbar-fixed-top navbar-default " role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          <a class="navbar-brand" href="/">World of Mines</a>          
        </div>

        <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">           
              <li id="karte"><%= link_to "Karte", map_mines_path %></li>
              <% if current_user.is_admin? %><li id="dateien"><%= link_to "Dateien", gps_files_path %></li>
                <li id="liste"><%= link_to "Liste", mines_path %></li>
                <li id="user"><%= link_to "User", users_path %></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="fb"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </nav>
      </div>
    </header>
    <br/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer class="bs-docs-footer" role="contentinfo">
      <p>World of Mines</p>
    </footer>
  </body>

  <a href="#" class="scrollup">Scroll</a>
  <script type="text/javascript">
    $(document).ready(function(){ 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        }); 
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
  </script>
</html>
